node?/data/*.db
node?/data/snapshots
node?/data/cs.wal
node?/config/write-file-atomic-*
node?/config/genesis.json
node?/config/addrbook.json
vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
cs.yaml
vs.yaml
__pycache__/