node1/data/tx_index.db
node1/data/state.db
node1/data/snapshots
node1/data/evidence.db
node1/data/cs.wal
node1/data/blockstore.db
node1/data/application.db
node2/data/tx_index.db
node2/data/state.db
node2/data/snapshots
node2/data/evidence.db
node2/data/cs.wal
node2/data/blockstore.db
node2/data/application.db
node3/data/tx_index.db
node3/data/state.db
node3/data/snapshots
node3/data/evidence.db
node3/data/cs.wal
node3/data/blockstore.db
node3/data/application.db
node1/config/write-file-atomic-*
node2/config/write-file-atomic-*
node3/config/write-file-atomic-*
vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
cs.yaml
vs.yaml